node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Astro
.astro/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

# src/scripts (migrated into components)
src/scripts/
